<% @search_params ||= {} %>

<h1>Search</h1>

<h4><%= link_to "Home", root_path %></h4>

<%= simple_form_for :search, url: search_path do |f| %>
  <%= f.input :day,
    collection: Availability::DAYS.invert.to_a,
    selected: @search_params[:day],
    include_blank: true,
    required: false %>
  <%= f.input :input_start,
    label: "Start time",
    input_html: {
      value: @search_params[:input_start]
    },
    required: false %>
  <%= f.input :input_end,
    label: "End time",
    input_html: {
      value: @search_params[:input_end]
    },
    required: false %>
  <%= f.input :time_zone,
    collection: all_time_zones,
    selected: @search_params[:time_zone],
    include_blank: true,
    required: false %>
  <%= f.submit "Search" %>
<% end %>

<% if @search_params.present? %>
  <h2>Query</h2>
  <div>Day: <%= day_name @search_params[:day] %> (<%= @search_params[:day] %>)</div>
  <div>Start Time: <%= @search_params[:input_start] %></div>
  <div>End Time: <%= @search_params[:input_end] %></div>
  <div>Time zone: <%= @search_params[:time_zone] %></div>

  <h2>Results</h2>

  <ul>
    <% @results.each do |avail| %>
      <li>
        <%= avail.user %> - <%= day_name(avail.day) %>: <%= avail.input_start %> - <%= avail.input_end %> (<%= avail.time_zone %>)
      </li>
    <% end %>
  </ul>
<% end %>

<hr>

<h2>All Possible Results</h2>

<ul>
  <% Availability.all.each do |avail| %>
    <li>
      <%= avail.user %> - <%= day_name(avail.day) %>: <%= avail.input_start %> - <%= avail.input_end %> (<%= avail.time_zone %>)
    </li>
  <% end %>
</ul>
