<%= link_to 'Index', users_path %>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  Availabilities:

  <%= render "availability", user: @user %>
</p>

<%= simple_form_for @user.availabilities.new do |f| %>
  <%= f.input :day, collection: Availability::DAYS.invert.to_a %>
  <%= f.input :input_start, label: "Start time" %>
  <%= f.input :input_end, label: "End time" %>
  <%= f.input :time_zone, collection: all_time_zones %>
  <%= f.input :user_id, value: @user.id, as: :hidden %>
  <%= f.submit %>
<% end %>
